
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-center{
    text-align: center;
}
.text-primary{
    color: orange;
}
.btn-primary{
    background-color: orange;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.section-description{
    font-size: 18px;
    color:  rgb(78, 74, 74);
}
.secondary-bg{
    background-color: antiquewhite;

}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* header */
.header{
    background-image: url('/images/developer.png'),url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    color: rgb(139, 133, 133);
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-content{
    max-width: 580px;
}
/* main */
main{
    max-width: 1140px;
    margin: 50px auto;
}
main section{
    margin-top: 130px;
    margin-bottom:130px ;
}
/* about */
.about{
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(198, 172, 172);
    border-radius: 10px;
}
/* resume */
.resume-container{
    display: flex;
    gap: 30px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description,.experience-sub-title{
    color: rgb(78, 74, 74);
}
.download-cv{
    margin-top: 30px;
}
footer{
    display: flex;

    gap: 3opx;
    padding: 130px 230px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"]{
    height: 64px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
footer input{
    margin-bottom: 10px;
    border: none;
}
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .skills-container,footer{
        flex-direction: column;

    }
    footer{
        padding: 20px;
    }
    .resume-container{
     flex-direction: column;   
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"],footer input[type="email"],footer textarea{
        width: calc(100% - 40px);
    }
}